@model DetailsTownModel

@{
    ViewBag.Title = $"Town - {Model.Name}";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
   <div class="card col-4" style="width: 20rem; ">
        <input type="hidden" asp-for="@Model.Id" />
        <img class="card-img-top" style="width: 18rem;"
             src="@Model.Image" alt="Town Image">
                <div class="card-body">

                      <h5 class="card-title mt-1">@Model.Name</h5>
                      <p class="mb-0">Country Name: @Model.CountryName</p>
                      
                      <p class="mb-0">Description: @Model.Description</p>                    
                      <p class="mb-0">Population: @Model.Population</p>
                      <p class="mb-0">Area: @Model.Area</p>
                </div>
                      @if (this.User?.Identity?.IsAuthenticated ?? false)
                      {
                          @if (this.User.IsInRole("Admin"))
                          {
                              <a class="btn btn-warning" asp-area="Admin" asp-controller="Towns" asp-action="Edit"
                         asp-route-id="@Model.Id" asp-route-information="" class="btn btn-success">Edit</a>
                      
                              <a class="btn btn-warning" asp-area="Admin" asp-controller="Towns" asp-action="Delete"
                         asp-route-id="@Model.Id" asp-route-information="" class="btn btn-success">Delete</a>
                          }
                      }
    </div>
</div>

<hr/>

@if(Model.JourneysForTown.Count() > 0)
{
    @foreach(var journey in Model.JourneysForTown)
{
    <div class="text-center row">
        <div class="card col-4" style="width: 20rem; ">
                <input type="hidden" asp-for="@journey.Id" />
            <div class="card-body">

                    <img class="card-img-top" style="width: 18rem;"
                      src="@journey.Image" alt="Journey Image">
                    <p class="mb-0">Title: @journey.Title</p>
                    <p class="mb-0">Days: @journey.Days</p>


            </div>
        </div>         
    </div>
        <a class="btn btn-warning" asp-area="" asp-controller="Journeys" asp-action="Details"
   asp-route-id="@journey.Id" asp-route-information="" class="btn btn-success">Learn more about this Journey</a>
}
}
else
{
   <p>There is no journeys for this town right now!</p>
}

