@model IEnumerable<AllTownsModel>

@{
    ViewBag.Title = "Towns Information";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<a class="btn btn-warning" asp-area="Admin" asp-controller="Informations" asp-action="Index" asp-route-id="" asp-route-information="" class="btn btn-success"> Back to Information</a>
<hr />

<p>Number of all Towns - @Model.Count()</p>
<hr />


@foreach (var item in Model.OrderByDescending(c => c.Area).ThenBy(c => c.Population))
{
    <P>Country: @item.CountryName</P>
    <p>Name: @item.Name</p>
    <p>Population: @item.Population</p>
    <p>Area: @item.Area</p>
    <hr />
}
