@model IEnumerable<AllRequestsModel>

@{
    ViewBag.Title = "All My Requests";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @if (Model.Count() > 0)
    {
        @foreach (var request in Model)
        {
            <div class="card col-4" style="width: 20rem; ">
                <div class="card-body">

                    <h5 class="card-title mt-1">@request.JourneyName</h5>
                    <p class="mb-0">Total Sum: @request.FinalSum</p>
                    <p class="mb-0">Request Management: @request.Management</p>
                    <p class="mb-0">Request Status: @request.Status</p>


                </div>

                <a class="btn btn-warning" asp-area="" asp-controller="Journeys" asp-action="Details" asp-route-id=@request.JourneyId
                asp-route-information="" class="btn btn-success"> Journey Details</a>

            </div>
        }
    }
    else
    {
        <p class="mb-0">There are no requests yet!</p>
    }
</div>
