@model IEnumerable<AllCountriesModel>  

@{
    ViewBag.Title = "All Countries";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />


@if (this.User.IsInRole("Admin"))
{
   <a class="btn btn-warning" asp-area="Admin" asp-controller="Countries" asp-action="Add"
   sp-route-information="" class="btn btn-success">Add Country</a>
}

<hr />

<div class="text-center row">
    @if (Model.Count() > 0)
    {
        @foreach (var country in Model)
        {
            <div class="card col-4" style="width: 20rem; ">
                <img class="card-img-top" style="width: 18rem;"
             src="@country.Image" alt="Country Image">
                <div class="card-body">

                    <h5 class="card-title mt-1">@country.Name</h5>
                    <p class="mb-0">Description: @country.Description</p>
                    <p class="mb-0">Population: @country.Population</p>
                    <p class="mb-0">Area: @country.Area</p>

                </div>
                @if (this.User?.Identity?.IsAuthenticated ?? false)
                {
                    <a class="btn btn-warning" asp-controller="Countries" asp-action="Details" asp-route-id="@country.Id"
                     asp-route-information="" class="btn btn-success">Details</a>
                }
            </div>
        }
    }
    else 
    {
        <p class="mb-0">There are no countries yet!</p>
    }
   
</div>
